<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buct_ai_bd_se2025.managementsystem.mapper.PermissionMapper">

    <select id="selectPermissionsByRoleId" resultType="com.buct_ai_bd_se2025.managementsystem.entity.Permission">
        SELECT p.*
        FROM permission p
                 JOIN role_permission rp ON p.perm_id = rp.perm_id
        WHERE rp.role_id = #{roleId}
    </select>
</mapper>
