<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buct_ai_bd_se2025.managementsystem.mapper.UserMapper">

    <select id="selectByUsername" resultType="com.buct_ai_bd_se2025.managementsystem.entity.User">
        SELECT *
        FROM user
        WHERE username = #{username}
    </select>

    <select id="selectByEmail" resultType="com.buct_ai_bd_se2025.managementsystem.entity.User">
        SELECT *
        FROM user
        WHERE email = #{email}
    </select>

    <update id="updateLastLogin">
        UPDATE user
        SET last_login = #{lastLogin}
        WHERE uid = #{uid}
    </update>

    <update id="updateIp">
        UPDATE user
        SET ip = #{ip}
        WHERE uid = #{uid}
    </update>
</mapper>
